""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
set surround
set commentary
set ReplaceWithRegister

""" Plugin settings -------------------------

""" Common settings -------------------------
set showmode
set so=8
set incsearch
set nu
set visualbell
set clipboard+=unnamed

""" Idea specific settings ------------------
"J to join line up"
set ideajoin
set ideastatusicon=gray

""" Mappings -------------------------------- 
map <leader>z :source ~/.ideavimrc<CR>
map <leader>c <Action>(CommentByLineComment)

""" LSP --------------------------------------
map gh <Action>(ShowErrorDescription)
map gi <Action>(GotoImplementation)
map gd <Action>(GotoDeclaration)
map <leader>gr <Action>(FindUsages)

""" Telescope --------------------------------------
map <leader>ff <Action>(GotoFile)
map <leader>fg <Action>(FindInPath)
map <leader>fz <Action>(Find)
